In [15]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
dfx=pd.read_csv('./Training/Linear_X_Train.csv')
dfy=pd.read_csv('./Training/Linear_Y_Train.csv')

In [4]:
dfx.describe()

                 x
count  3750.000000
mean     -0.037795
std       0.992212
min      -3.546299
25%      -0.698443
50%      -0.035028
75%       0.629425
max       4.091393

In [5]:
dfx.head()

          x
0 -0.289307
1 -0.588810
2  1.027507
3 -0.259013
4  0.782043

In [9]:
dfx.shape

(3750, 1)

In [16]:
x=dfx.to_numpy()
y=dfy.to_numpy()
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [17]:
reg=LinearRegression().fit(x,y)
reg.score(x,y)

0.9709612233822353