In [20]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
dfx=pd.read_csv('./Training/Linear_X_Train.csv')
dfy=pd.read_csv('./Training/Linear_Y_Train.csv')

In [4]:
dfx.describe()

                 x
count  3750.000000
mean     -0.037795
std       0.992212
min      -3.546299
25%      -0.698443
50%      -0.035028
75%       0.629425
max       4.091393

In [5]:
dfx.head()

          x
0 -0.289307
1 -0.588810
2  1.027507
3 -0.259013
4  0.782043

In [9]:
dfx.shape

(3750, 1)

In [16]:
x=dfx.to_numpy()
y=dfy.to_numpy()

In [24]:
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [25]:
reg=LinearRegression().fit(x,y)
reg.score(x,y)

0.9709612233822353

In [26]:
dfxtest=pd.read_csv('./TestCases/Linear_X_Test.csv')
x_test=dfxtest.to_numpy()
x_test=scaler.transform(x_test)

In [30]:
y_pred=reg.predict(x_test)

In [32]:
df = pd.DataFrame(y_pred, columns = ['y'])

               y
0    -147.528475
1     -66.266998
2    -200.062093
3     226.044960
4      51.329285
...          ...
1245   -9.808053
1246   78.812578
1247   14.038203
1248  -18.666169
1249  -51.075947

[1250 rows x 1 columns]

In [34]:
df.to_csv('file1.csv',index=False)